.familyBar{
    width: 90px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    align-items: end;
    left: 14px;
    bottom: 140px;
}
.profile {
    border-radius: 50%;
    padding: 5px;
    width: 60px;
    height: 60px;
    border: none;
  }
  