@import url('https://fonts.cdnfonts.com/css/assistant');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  direction: rtl;
  font-family: 'Assistant', sans-serif;
}
#root{
  height: 100%;
  width: 100%;
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
}
:root {
  --login_button_color: #7133d9;
  --primary_background:#fff;
}


@media only screen and (max-width: 600px) {
  body{
    background: var(--primary_background);
  }
}
@media only screen and (min-width: 600px) {
  body{
    background-image: url(/src/assets/33.jpg);
    background-size: cover;
    background-repeat: repeat;
}
}
