.icon_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-between;
}
.icon_button{
    width: 60px;
    height: 60px;
    border: none;
    padding-right: 10px;
}
.icon{
    font-size: 20px;
}
.icon_active{
    color: rgb(0, 162, 255);
}