.icon_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-between;
}
.icon_button{
    border: none;
    padding-right: 10px;
    background: #7133d9;
    color: #fff;
}
.icon{
    font-size: 20px;
}
.icon_active{
    color: #fff;
}
@media only screen and (min-width: 600px) {
    .icon_button{
        width: 50px;
        height: 50px;
    }
}
@media only screen and (max-width: 600px) {
    .icon_button{
        width: 40px;
        height: 40px;
    }
}

    